@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   
}

<div class="card shadow border-0">
    <div class="card-header">
        <h2>@Model.Name</h2>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label>ID</label>
            <h3>@Model.Id</h3>
        </div>
        <div class="form-group">
            <label>Name</label>
            <h3>@Model.Name</h3>
        </div>
        <div class="form-group">
            <label>Customer</label>
            <h3>@Model.Customer</h3>
        </div>
        <div class="form-group">
            <label>Abbreviation</label>
            <h3>@Model.Abbreviation</h3>
        </div>
    </div>
</div>

